<% include partials/_header %>

<div class="container">
    <div class="row mt-5">
        <!--Lista BD-->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>n°</th>
                    <th>Linea</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    <% if(data){%>
                    <% for(var i=0; i<data.length; i++){%>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td><%= data[i].linea %></td>
                        <td>
                        <a href="/deleteLinea/<%= data[i].id_linea %>" class="btn btn-danger">Borrar</a>
                        <a href="/updateLinea/<%= data[i].id_linea  %>" class="btn btn-info">Actualizar</a>
                        </td>
                    </tr>
                    <%}%>
                    <%}%>
                </tbody>
            </table>
        </div>

        <!--Formulario de Insert-->
        <div class="col-md-5">
            <div class="card ">
                <div class="card-body">
                    <form action="/addLinea" method="POST">
                        <div class="form-group">
                            <input type="text" name="linea" id="linea" placeholder="Linea" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar Linea
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>